# Dependencies
**/node_modules/

# Environment files
**/.env
**/.env.local
**/.env*.local

# Build outputs
**/dist/
**/build/
**/.next/
**/out/

# Hardhat
contracts/cache/
contracts/artifacts/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*